.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
    font-family: Arial, sans-serif;
    padding: 20px;
    position: relative;
  }
  .logoContainer {
    position: absolute;
    text-align: center; /* Center align the text and logo */
    margin-bottom: 30%; /* Space below the logo section */
    animation: fadeInLogo 1.5s ease-out; /* Smooth fade-in animation */
  }
  
  .tagline {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #0d0478; /* Bluish color for the tagline */
    margin-bottom: -80px; /* Space between tagline and logo */
    margin-left: -180px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
  }

.backButton {
    position: absolute; /* Position it absolutely within the container */
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
    cursor: pointer;
    animation: slideIn 1s ease-out; /* Smooth slide-in animation */
}

.backButton img {
    width: 80px; /* Adjust button size */
    height: 80px;
}


.oops{
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.cancelButton {
  position: absolute;
  background-color: #000206;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 400px;
  animation: slideInFromLeft 1s ease-out forwards; /* Fast slide-in from the left */
  left:61%;
  bottom:15%;
}
.cancelButton:hover {
  background-color: #1565c0;
  transform: scale(1.05); /* Slight zoom on hover */
}
 /* Keyframe Animations */
 @keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: scale(0.8); /* Start smaller */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Final size */
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start off-screen */
    opacity: 0; /* Hidden at the start */
  }
  100% {
    transform: translateX(0); /* End at its original position */
    opacity: 1; /* Fully visible */
  }
}